.cordefundo {
  
    background-color: rgb(23,23,23);

}



.menu01 {
    color: white;
    margin: 30px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

    height: 350px;
    }

.menulista {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 30px;
list-style-type: none;

}    



.titulomeunome {

    color: white;
}


.nomecinza {

    color: rgb(130,130,130);
}


.menu02 {

    display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 100px;    
   gap: 30px;
}


.minhafoto{
 position: relative;
 left: 550px;
 margin-top: -400px;
 border-radius: 100%;
 border: 01px solid rgb(30,30,30);
 padding: 20px;
 }


.botaoverde {

color: white;
background-color: rgb(39,174,96);
height: 45px;
width: 160px;

}


.botaopreto {
height: 45px;
width: 160px;
color: white;
background-color: rgb(23,23,23);
position: relative;
left: 05px;


}


.sobremim {

color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 100px;


}


.botao01 {

width: 60px;
height: 60px;
border-radius: 100%;

background-color: green;
border: 25px solid rgb(33,33,33);

}




.textoembaixodobutao {


    color: white;
}


.menubotoes01 {

    display: flex;
    justify-content: center;
    gap: 15%;
    margin: 20px;
  
}


.textodosbotoes {
color: white;

}

.textogeralbotoes {
    display: flex;
    justify-content: center;
    gap: 120px;


}


.geralpart02 {
    margin-top: 150px;
}

.texto01parte02 {
    color: white;

display: flex;
justify-content: center;
align-items: center;

}


.imagensdosite02 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
}



.myskills {

width: 1100px;
height: 250px;
background-color: rgb(33,33,33);
margin-left: 120px;
margin-top: 80px;
color: rgb(79,79,79);
display: flex;
justify-content: space-around;
align-items: center;
font-size: 3000px;




}


.partedebaixo {

    color: green;
}




.ultimotitulo {

    color: white;

display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;

}



.display-flex {
    display: flex;
    margin: 50px;
}
    

.width-50 {
    width: 50%;
}

.input-custom {
    width: 100%;
    background-color: transparent;
    margin: 30px 0;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
}

.textarea-custom {
    width: 100%;
    background-color: transparent;
    margin: 30px 0;
    border: 1px solid #4F4F4F;
}

.spacing-2 {
    margin-right: 50px;
}

.button {
    background: #27AE60;
    padding: 10px 30px;
    color: white;
    border: none;
}

.center {
    text-align: center;
}

.copy {

    color:rgb(79,79,79);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}



